<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title><%= title %></title>
  <% include partials/head %>
  <link href="/css/teamview.css" rel="stylesheet"/>
</head>
<body>

  <% include partials/navbar %>


<div id="wrapper">

<%
var abilities = [];
var moveids = [];
var moves = [];
    for (var x = 0; x < data.length; x++) {
        var mon = data[x];
        var i = Math.floor(Math.random() * mon.abilities.length);
        abilities.push(mon.abilities[i].name.toUpperCase());
        moves[x] = [];
        moveids[x] = [];
        var nummoves = 4;
        if (mon.moves.length < 4) {
            nummoves = mon.moves.length;
        }
        for (var i = 0; i < nummoves; i++) {
            var id = Math.floor(Math.random() * mon.moves.length);
            moves[x].push(mon.moves[id].name.toUpperCase());
            moveids[x].push(parseInt(
                mon.moves[id].resource_uri.split("/")[4]
            ));

        }
        %>
<div class="monster container-fluid">
    <div class="row-fluid">
        <div class="col-xs-12 col-sm-6 col-md-3">
            <img class="monsprite" src="http://pokeapi.co/media/img/<%=mon.national_id%>.png" alt="<%=mon.name %>">
        </div>
        <div class="col-xs-12 col-sm-6 col-md-9">
<div class="container-fluid">
    <div class="row-fluid">
        <div class="monname col-xs-12">#<%=mon.national_id%> <%=mon.name %></div>
        <div class="montype col-xs-12 col-sm-4 type <%=mon.types[0].name%>type"><%=mon.types[0].name.toUpperCase() %></div>
        <%
        if (mon.types.length == 1) { %>
            <div class="montype col-xs-12 col-sm-4 type notype">No Type</div><%
        }
        else { %>
            <div class="montype col-xs-12 col-sm-4 type <%=mon.types[1].name%>type"><%=mon.types[1].name.toUpperCase() %></div>
        <%
        }
        %>
        <div class="monability type notype col-xs-12 col-sm-4">
            <%=abilities[x].toUpperCase() %>
        </div>
    </div>
    <div class="row">
        <%
        for (var i = 0; i < moves[x].length; i++) {
            %>
            <a href="/move?id=<%=moveids[x][i]%>">
                <div class="monmove col-xs-6">
                    <%=moves[x][i]%>
                </div>
            </a>
            <%
        }%>
    </div>
</div>
        </div>
    </div>
</div>
        <%
    }
%>

</div>
</body>

<script src="script.js"></script>

</html>
