
    <h1><%= title %></h1>

    <div>
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" id="jq-tabs">
            <% for(var i=0; i<tabsData.length; i++) {%>
            <li role="presentation" class=""><a href="#<%= tabsData[i].id %>" ><%= tabsData[i].label %></a></li>
            <% } %>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content2" id="jq-tab-content" style="height: 200px;">
            <% for(var i=0; i<tabsData.length; i++) {%>
            <div class="tab-pane2 active" id="<%= tabsData[i].id %>">
                <%= tabsData[i].content %>
            </div>
            <% } %>
        </div>

    </div>